<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Patounes & Co</title>
</head>
<body background="../DATA/Photos/Demarrage.jpg">
    <div class="demarrage">
        <div class="login-card-logo">
            <img src="../DATA/Photos/logo.PNG" alt="logo">
        </div>
        <H1 class="PatounesCo">Patounes & Co</H1>
        <div class="btn">
            <a href="Inscription.html" class="btn-redirection" id="btn-inscription">S'inscrire</a>
            <a href="connexion.html" class="btn-redirection" id="btn-connexion">Connexion</a>
        </div>
    </div>
</body>
</html>