<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:800">
    <title>Patounes & Co</title>
</head>
<body>
    <div class="nav-bar">
        <ul>
            <li><a href="accueil.html">Accueil</a></li>
            <li><a href="actualité.html">Actualité</a></li>
            <li><a href="recherche.html">Recherche</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="profil">
            <img src="../DATA/Photos/Profil.jpg" alt="image de chat">
            <span class="form-item-icon material-symbols-rounded">favorite</span>
            <title>Tigrou</title>
            <p>7 mois</p>
            <span class="form-item-icon material-symbols-rounded">localisation</span>
            <p>Rennes</p>
        </div>
        <div class="comportement">

        </div>
        <div class="messagerie">

        </div>
    </div>
    <div class="footer">

    </div>
</body>
</html>